.main-address{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding-bottom: 30px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
.address-tittle{
    margin-left: 20px;
    padding-top: 20px;
    text-align: center;
}
.address-details{
    margin-left: 2rem;
}
.address{
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.cancel-icon{
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    margin-top: 5px;
    float: right !important;
    background-color:black;
    color: white;
}
.select-radio{
    margin-left: 25px !;
    margin-top: 3px;
    width: 20px;
    height: 20px;
  
}
.form-check-input{
    width: 20px !important;
    height: 20px !important;
}
.form-check-label {
    margin-left: 10px;
}
.order-image{
    width: 150px;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.add-address{
    background-color: red !important;
    border: none !important;
    color: white !important;
    margin-bottom: 20px;
    float: right;
    width: 150px;
    font-size: 20px !important;
}
.edit-Button{
    background-color: red !important;
    border: none !important;
    color: white !important;
    margin-top: 30px;
    margin-right: 20px !important;
    float: right !important;
    width: 150px;
    font-size: 20px !important;
}
.invoice-button{
    background-color: red !important;
    border: none !important;
    color: white !important;
    margin-top: 30px;
    margin-right: 20px !important;
    float: right !important;
    width: 200px;
    font-size: 20px !important;
}
.go-to-prouct{
    background-color: red !important;
    border: none !important;
    color: white !important;
    margin-top: 30px;
    margin-right: 20px !important;
    width: 200px;
    font-size: 20px !important;
}