.submit-btn{
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    outline: 0 !important;
    border: none !important;
    background-color: red !important;
    color: white;
    
}
.main-forgotten{
    margin-top: 50px;
    margin-bottom: 50px;
   
}
.forgot-form{
    border-width: 20px;    
}
.card-forgot{
    padding: 2.00rem !important;
}
