.submit-btn{
    background-color: blue;
    color: white;
    height: 50px;
    width: 100px;
    
}
.main-forgotten{
    margin-top: 50px;
    margin-bottom: 50px;
   
}
.forgot-form{
    border-width: 20px;    
}
.card-forgot{
    padding: 2.00rem !important;
}
.heading-forgot{
    text-align: center !important;
    margin-bottom: 50px;
}
