.navbar {
    min-height: 10px;
    background-color: black;
    font-size: 30px;
    padding: 1px !important;
  }

  b {
    color: red;
  }
.link-drop{
  color: black;
  text-decoration: none;
  background-color: transparent;
}
.link-drop:hover{
  color:black;
  text-decoration: none;
  background-color: white !important;
  
}
.brand{
  padding: 1px !important;

}
.link {
  color:white;
  text-decoration: none;
  margin-left: 30px;
  background-color: transparent;
  font-size: 40px;
}
.link:hover{
  color: white;
  text-decoration: none;
}
.link-option{
color:white;
  text-decoration: none;
  margin-left: 80px;
  background-color: transparent;
  font-size: 20px;
}
.link-option:hover{
  color: white;
  text-decoration: none;
}

.cart-button{
  cursor: pointer;
  height: 50px;
  width: 120px;
  color: white;
  border-color: #1d2124;
  
}
.count{
 border-radius: 30px !important;
 position: relative;
    top: -10px !important;
    left: -10px;

}
.drop-down-btn{
 margin-left: 10px;
}
.dropdown-btn{
  width: 100px;
  height: 50px;
}
.search-icon{
  color: black;
  font-size: 30px;
  
}
.search-bar{
  background-color: white;
  width: 300px !important;
  height: 50px !important;
  outline: 0 !important;
  box-shadow: none !important;
}
.search-inpur-grp{
  margin-left: 40px;
  outline: 0 !important;
  box-shadow: none !important;
}