.orderPlace{
    margin-top: 100px;
    text-align: center;
    height: 300px;
}
.order-placed{
    align-items: center;
    background-color: red !important;
    color: white !important;
    border: none !important;
    outline: 0 !important;
    margin-top: 30px;
    margin-bottom: 20px !important;
}