.heading{
   text-align: left;
   font-size: 30px;
   margin-top: 50px;
   margin-left: 20PX;
   
}
.img-main{
    width: 80%;
    height: 100%;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.img-col{
    margin: auto;
    padding-left: 15px;
}
.img-sub-col{
    max-width: 33.33%;

}
.img-sub{
    width: 100%;
    height: 100%;
    margin-left: 10px;
}
.tab{
    width: 100% ;
    height: 100%;
}
.detail{
    height: 200px;
}
.rating-star-detail {
    color: goldenrod;
    margin-left: 15px !important;
    font-size: 30px;
}
.prize-color{
    margin-top: 30px;
    margin-left: 20px;
    font-size: 25px;
}
.share{
    margin-top: 40px;
    margin-left: 20px;
    font-size: 30px;
}
.social-btn {
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    margin: 20px 20px;
}
.social-btn.fb{
    background-color: #4267b2;
}
.social-btn.google{
    background-color: #db4437;
}
.social-btn.whats-app{
    background-color: #25d366;
}
.social-btn.pp{
    background-color: #bd091d;
}
.social-btn.twitter{
    background-color: #00acee ;
}
.fb-icon{
    background-color:#4267b2 ;
    color: white;
    outline: white;
    font-size: 20px;
    text-align: center;
}
.google-icon{
   
    color: white;
    font-size: 20px;
    text-align: center;
}
.whtas-icon{
    color: white;
    font-size: 20px;
    text-align: center;
}
.pinterest-icon{
    background-color:#bd091d;
    color:  white;
    font-size: 20px;
    text-align: center;
}
.twitter-icon{
    color:  white;
    font-size: 20px;
    text-align: center;
}
.add-btn{
    background-color:red !important;
    border: none !important;
    width: 150px;
    margin: 30px 20px;
    
}
.rate-btn{
    background-color: red !important;
    border: none !important;
    width: 200px;
    margin: 30px 20px;
}
.color-code{
    height: 20px;
    width: 20px;
    border: none;
    margin-left: 10px;
}
.tab{
    margin-left: 50px;
    margin-top: 20px;
}
.detail{
    margin-left: 50px;
    margin-top: 20px;
}