.main-profile{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
.profile-tittle{
    margin-left: 20px;
    padding-top: 10px;
}
.details-fields{
    display: block;
    font-size: 15px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
   
}
.edit-profile{
    background-color: red !important;
    border: none !important;
    color:white !important;
    margin-bottom: 20px;
    float: right;
    width: 150px;
    font-size: 20px !important;
}
.edit-icon{
    color: black;
    font-size: 18px;
    margin-top: 5px;
}
.heading-col{
    width: 50% !important;
}
.detail-col{
    width: 50% !important;
}