.all-product-btn{
    color: black;
    background-color: white;
    width: 70%;
    height: 40px;
    border-radius: 10px;
   
    outline: 0 !important;
    margin-bottom: 20px;
}
.all-Product-tittle{
    float: left;
}
.categeries-btn{
    background-color: white;
    color: black;
    width: 70%;
    height: 50px;
    border-radius: 15px;
    padding-left: 10px;
    margin-bottom: 20px;
    text-decoration-style: none;
    outline: 0 !important;
    text-align: center;
}
.categeries-drop{
    width: 70%;
    height: 50px;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 10px;
    outline: 0 !important;
    cursor: pointer;
}
.color-drop{
    width: 20%;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    margin : 0px 10px 0px 10px ;
    outline: 0 !important;

}
.side-nav{
   text-align: center;
}
.blue {
    width: 50px;
    height: 30px;
    border-radius: 5px;
   
    outline: 0 !important;
}
/* .navi-blue{
    background-color: #3c4477;
    height: 40px;
    width: 5%;
    margin-left: 10px;
    border-radius: 10px;
}
.black{
    background-color: #36454f;
    height: 40px;
    width: 5%;
    margin-left: 10px;
    border-radius: 10px;
} */
.cat-btn-dropdown{
    text-align: center;
    border: none;
    padding: 10px 70px 10px 60px;
}
.color-tittle{
    float: left !important;
}
.category-tittle{
    float: left !important;
}
.color-down-arrow{
    margin-top: 5px;
    margin-right: 5px;
    float: right !important;}
.category-down-arrow{
    margin-top: 5px;
  margin-right: 5px;
  float: right !important;

}